<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}"/>
<meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}"/>
<title>Password Reset</title>

<link rel="stylesheet" th:href="@{/css/forgot-pass.css}">
<link rel="stylesheet" th:href="@{/css/inputs.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/js/reset_password.js}"></script>
</head>
<body>
	<div class="reset_form">
		<div class="message"></div>
		<form th:action="@{/user/forgot-password}" method="post" >
			email: <input type = "email" class="email" name="email" ><br>
		</form>
		<button onclick="getResetLink()">get reset link</button>
	</div>
</body>
</html>