<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Password Reset</title>

<link rel="stylesheet" th:href="@{/css/forgot-pass.css}">
<link rel="stylesheet" th:href="@{/css/inputs.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/js/password-visibility.js}"></script>
</head>
<body>
	<div class="change_form">
		<form th:action="@{/user/{email}/change-password(email = ${userEmail})}" method="post" >
			<label for="password">New password: </label>
			<input type = "password" id="password_field" class="password_field" name="password" >
			<div class="show_pass" onclick="changeVisibility()">☻</div><br><br>
			<input type="submit" value="change password">
		</form>
	</div>
</body>
</html>