<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sign in</title>
<link rel="stylesheet" th:href="@{/css/register.css}">
<link rel="stylesheet" th:href="@{/css/inputs.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/js/password-visibility.js}"></script>
</head>
<body>
	<h1 class="title">Sign In</h1>
	<div class="elements">
		<span th:if="${error}" class="error">Error, no such user</span>
		<form th:action="@{/user/sign-in}" method="post" class="inputs">
			<div class="email_input">
				<label for="email">Email: </label> <br>
				<input type = "email" id="email" name="email" ><br>
			</div>
			
			<div class="password_input">
				<label for="password">Password: </label><br>
				<input type ="password" id="password_field" name="password" > 
				<div class="show_pass" onclick="changeVisibility()">☻</div><br>
			</div>
			
			<div class="submit_button"onclick="javascript:this.parentNode.submit();">Sign In</div>
		</form>
		<a href="/forgot-password">Forgot password?</a>
	</div>
</body>
</html>